@import "../scss/screen-size";

@mixin flex-end {
  display: flex;
  justify-content: end;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
}

@mixin mq-medium-up {
  @media (max-width: $screen-medium) {
    @content;
  }
}

@mixin mq-small-up {
  @media (max-width: $screen-small) {
    @content;
  }
}
