@import "../../../assets/scss/colors";
@import "../../../assets/scss/_mixins";

.header-button {
  font-family: Lato, sans-serif;
  border: 1px solid $orange;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: $dark_beige;
  height: 30px;
  min-width: 100px;
  &:hover {
    color: $orange;
    transition: 0.2s ease-in-out;
    box-shadow: 2px -2px 25px $dark_beige;
    cursor: pointer;
  }

  &:active {
    background-color: $brown;
  }
}

.main {
  font-size: 1.6rem;
  &-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px 10px;
    &__button {
      margin: 5px;
      &__raiting {
        &::after {
          content: " ⇧";
        }
      }

      &__price {
        &::after {
          content: " ⇩";
        }
      }
    }

    &__text {
      margin: 5px;
    }
  }

  &-product-container {
    display: flex;
    .said-bar {
      width: 30%;
      border: 2px solid $orange;
      &__list {
        border: 2px solid $yellow;
        padding: 10px;
        &:hover {
          border-color: $orange;
          background-color: $yellow;
          transition: 0.2s ease-in-out;
          box-shadow: 2px -2px 25px $dark_beige;
          cursor: pointer;
        }
      }
    }

    .selected-products {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      max-width: 70%;
      border: 2px solid $yellow;
      justify-content: space-between;

      .product {
        max-width: 45%;
        margin: 15px;
        border: 2px solid $yellow;
        &__wrapper {
          margin: 10px;
          display: flex;
        }

        &__img {
          border: 2px solid $yellow;
          width: 40%;
          min-width: 10%;
          margin: 10px;
          max-width: 20%;
        }

        &__text {
          font-size: 1.2rem;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
        }

        &__button {
          max-width: 100px;
        }
      }
    }
  }
}

.button__active {
  background-color: $brown;
  color: $light_beige;
}
