<div class="line"></div>
<div class="main">
  <div class="main-search">
    <span class="main-search__text">Сортировка:</span>
    <button
      class="main-search__button header-button main-search__button__raiting"
      (click)="sort('isSortByRaiting')"
      [ngClass]="{ button__active: isSortByRaiting }"
    >
      ПО РЕЙТИНГУ</button
    ><button
      class="main-search__button header-button main-search__button__price"
      (click)="sort('isSortByPrice')"
      [ngClass]="{ button__active: isSortByPrice }"
    >
      ПО ЦЕНЕ
    </button>
  </div>
  <div class="main-product-container">
    <div class="said-bar">
      <div
        class="said-bar__list"
        *ngFor="let category of categories; let i = index"
        (click)="onSelect(category)"
        [ngClass]="{ button__active: idSelectedCategory === i + 1 }"
      >
        <h3>{{ category.name }}</h3>
      </div>
    </div>
    <div class="selected-products">
      <div
        class="product"
        *ngFor="
          let product of products | sort: idSelectedCategory:isSortByPrice
        "
      >
        <div class="product__wrapper">
          <!-- : idSelectedCategory:isSortByPrice -->
          <img class="product__img" [src]="product.img" alt="" />
          <div class="product__text">
            <h3>{{ product.name }}</h3>
            <span
              >Цена:
              {{ product.price | currency: "BYN":"symbol-narrow":"1.2" }}</span
            >
            <span>Рейтинг: {{ product.rating }}</span>
            <button class="product__button header-button">В КОРЗИНУ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
